.page {
  height: 100%;
  min-width: $mobile-width;
}

.page__body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  font-family: $font-family;
  font-size: $main-font-size;
  line-height: $main-line-height;
  font-weight: 400;
  color: $base-black-color;
  background-color: $base-white-color;
}
